<!DOCTYPE html>
<html>

<head>
    <title>Exploit Craft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper-core.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-3">Craft New Exploit</h1>
        <div id="form-container">
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-warning float-right mt-3 mr-3" id="see-logs-btn">See logs</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="mt-7">Saved Exploit</h1>
                <div id="saved-form-container"></div>
            </div>
        </div>
    </div>


    <script>
        var respCount = -1;
        function add_response(url_val, header_val, body_val) {
            var formHtml = `
      <div class="card mb-3">
        <div class="card-header bg-dark text-white" data-toggle="collapse" data-target="#response-${respCount}">
          <h5 class="mb-0">Saved Response - URL: ${url_val}</h5>
        </div>
        <div id="response-${respCount}" class="card-body collapse">
          <div class="form-group">
            <label for="url-${respCount}">URL</label>
            <input type="text" class="form-control for_delete" id="url-${respCount}" name="url-${respCount}" required value="${(url_val)}" disabled>
          </div>
          <div class="form-group">
            <label for="header-${respCount}">Header</label>
            <textarea class="form-control" id="header-${respCount}" name="header-${respCount}" rows="3" required disabled>${header_val}</textarea>
          </div>
          <div class="form-group">
            <label for="body-${respCount}">Body</label>
            <div class="custom-control custom-radio custom-control-inline ml-5">
              <input type="radio" id="body-radio-file-${respCount}" name="body-radio-${respCount}" class="custom-control-input" value="file" disabled>
              <label class="custom-control-label" for="body-radio-file-${respCount}">File Upload</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="body-radio-text-${respCount}" name="body-radio-${respCount}" class="custom-control-input" value="text" checked="checked">
              <label class="custom-control-label" for="body-radio-text-${respCount}">Text</label>
            </div>
            <div class="custom-file mt-2" id="body-file-${respCount}-container" style="display:none;">
              <input type="file" class="custom-file-input" id="body-file-${respCount}" name="body-file-${respCount}">
              <label class="custom-file-label" for="body-file-${respCount}">Choose file</label>
            </div>
            <textarea class="form-control mt-2" id="body-text-${respCount}" name="body-text-${respCount}" rows="3" style="" disabled>${body_val}</textarea>
          </div>
          <button type="button" class="btn btn-danger delete-saved-form-btn float-right">Delete</button>
          <button type="button" class="btn btn-info view-response-btn float-right mr-2">View Response</button>
        </div>
      </div>
    `;
            $('#saved-form-container').append(formHtml);
            respCount++;
        };
        $.ajax({
            url: '/api/craft',
            success: function (data) {
                var logs = data;
                for (url_key in logs) {
                    var log = logs[url_key];
                    var url = log.url;
                    var header = log.header;
                    var body = log.body;
                    add_response(url, header, body);
                }
            }
        });
        $(document).on('click', '.delete-saved-form-btn', function () {
            var urlVal = $(this).closest('.card').find('input[id^="url-"]').val();
            $.ajax({
                url: '/craft',
                type: 'DELETE',
                data: JSON.stringify({url: urlVal}),
                contentType: 'application/json',
                success: function () {
                }
            });
            $(this).closest('.card').remove();
        });

        $(document).on('click', '.view-response-btn', function () {
            var urlVal = $(this).closest('.card').find('input[id^="url-"]').val();
            var baseUrl = window.location.hostname + urlVal;
            window.open(urlVal);
        });
    </script>



    <script>
        var formCount = 1;
        var maxForms = 100;

        function add_form() {
            var formHtml = `
    <div class="card mb-3">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Response Form ${formCount}</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="url-${formCount}">URL</label>
          <input type="text" class="form-control" id="url-${formCount}" name="url-${formCount}" required value="/">
        </div>
        <div class="form-group">
          <label for="header-${formCount}">Header</label>
          <textarea class="form-control" id="header-${formCount}" name="header-${formCount}" rows="3" required >HTTP/1.1 200 OK\r\nContent-Type: application/javascript; charset=utf-8</textarea>
        </div>
        <div class="form-group">
  <label for="body-${formCount}">Body</label>
  <div class="custom-control custom-radio custom-control-inline ml-5">
    <input type="radio" id="body-radio-file-${formCount}" name="body-radio-${formCount}" class="custom-control-input" value="file" disabled>
    <label class="custom-control-label" for="body-radio-file-${formCount}">File Upload</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="body-radio-text-${formCount}" name="body-radio-${formCount}" class="custom-control-input" value="text" checked="checked">
    <label class="custom-control-label" for="body-radio-text-${formCount}">Text</label>
  </div>
  <div class="custom-file mt-2" id="body-file-${formCount}-container" style="display:none;">
    <input type="file" class="custom-file-input" id="body-file-${formCount}" name="body-file-${formCount}">
    <label class="custom-file-label" for="body-file-${formCount}">Choose file</label>
  </div>
  <textarea class="form-control mt-2" id="body-text-${formCount}" name="body-text-${formCount}" rows="3" ></textarea>
</div>
        <button type="button" class="btn btn-success craft-response-btn float-right mr-2">Save Response</button>
      </div>
    </div>
    `;

            $(document).on('change', 'input[name="body-radio-' + formCount + '"]', function () {
                if ($(this).val() == 'file') {
                    $('#body-file-' + formCount + '-container').show();
                    $('#body-text-' + formCount).hide();
                } else {
                    $('#body-file-' + formCount + '-container').hide();
                    $('#body-text-' + formCount).show();
                }
            });
            $('#body-text-' + formCount).show();

            $('#form-container').append(formHtml);
        };

        add_form();
        $('#add-form-btn').click(add_form);

        $(document).on('click', '.delete-form-btn', function () {
            $(this).closest('.card').remove();
        });

        $(document).on('click', '#see-logs-btn', function () {
            window.open('/logs')
        });

        $(document).on('click', '.craft-response-btn', function () {
            var formIndex = $('.craft-response-btn').index(this) + 1;
            var url = $('#url-' + formIndex).val();
            var header = $('#header-' + formIndex).val();
            var bodyText = $('#body-text-' + formIndex).val();
            var bodyFile = $('#body-file-' + formIndex).prop('files')[0];

            var data = {};
            data.url = url;
            data.header = header;
            if (bodyText) {
                data.body = bodyText;
            } else if (bodyFile) {
                data.body = bodyFile;
            }
            $.ajax({
                type: 'POST',
                url: '/craft',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                }
            });
        });
    </script>
</body>

</html>
